body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background:"scenery.jpg";
    align-items: center;
    height: 100vh;
    background-color:transparent;
}

h1{
    color: rgb(255, 255, 255);
}

.container {
    text-align: center;
    color: aliceblue;
    background: rgba(0, 0, 0, 0.911);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    opacity: 0.8;
    margin: auto;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 10px;
    }
}
